@tailwind base;
@tailwind components;
@tailwind utilities;

.state-effects {
    @apply focus:scale-105 hover:scale-105 active:scale-[1.02] transition;
}

/* SCROLLBAR STYLING */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0f1015;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0f1015 rgba(255, 255, 255, 0.1);
}